body {
	font-family: "Euphemia UCAS", Arial, Helvetica, sans-serif;
	font-size:20px;
	background-color:#ffffff;
}

a:link, a:visited, a:active
{
	color: #e81e81;
	text-decoration: none;
}
a:hover
{
	color: #ef793c;
	text-decoration: none;
}
#members
{	
	font-size: .6em;
}
